*.zip
goodluck*
HeatingSim_20211111.ipynb
.ipynb_checkpoints/
lab_analysis/.ipynb_checkpoints/
lab_analysis/*.npy
lab_analysis/mirror_focus_and_mot_beams/
Pipfile.lock
HeatingSim_CY_20211111.ipynb
LouisFarenci_2DAlignSimulation.ipynb
*Louis*
csv_analysis/trap_array_data/*.npy
pylcp/*checkpoints*/*
lab_analysis/network_experiment/*.csv
