*.zip
goodluck*
HeatingSim_20211111.ipynb
.ipynb_checkpoints/
csv_analysis/.ipynb_checkpoints/
csv_analysis/*.npy
Pipfile.lock
HeatingSim_CY_20211111.ipynb
LouisFarenci_2DAlignSimulation.ipynb
*Louis*
csv_analysis/trap_array_data/*.npy
pylcp/*checkpoints*/*
