[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
arc-alkali-rydberg-calculator = "*"
matplotlib = "*"
sympy = "*"
scikit-learn = "*"
scipy = "*"
datetime = "*"
bibtexparser = "*"
pylcp = "*"
tifffile = "*"
h5py = "*"
kdepy = "*"
colorspacious = "*"
jupyterlab = "*"
qutip = "*"

[dev-packages]

[requires]
python_version = "3.9"
