[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
arc-alkali-rydberg-calculator = "*"
matplotlib = "*"
sympy = "*"
sklearn = "*"
scikit-learn = "*"
scipy = "*"
datetime = "*"
bibtexparser = "*"

[dev-packages]

[requires]
python_version = "3.9"
